
/* .first {
    display: flex;
    flex-direction: column;
}

.navbarsection {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;

} */

.first1 {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 800px;
    margin-top: 5rem;
    
    
}


.first1a {
    max-width: 100%;
}



.first1b {
    max-width: 100%;

}

