.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust this as needed */
  }
  
  .heartBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .image {
    width: 50px; /* Adjust the width of the heart image as needed */
  }
  
  /* Optional: Style for the text */
  h2 {
    margin-bottom: 20px; /* Adjust as needed */
  }
  


  .likeBtn {
    margin-top: 20rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor:pointer;
  }