* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.heading {
    display: flex;
    align-items: center;
}

.eventInfo {
    display: flex;
    align-items: center;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 10px;
    margin: 2px;
    border: 2px solid #D175B6;
}

.section1 {
    width: 90%;
    margin-bottom: 20px;
    margin-left: 3rem;
    margin-right: 10px;
}

.section2 {
    width: 90%;
    margin-bottom: 20px;
    border: 2px solid #D175B6;
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    padding-right: 6rem;
    padding-left: 1rem;
    margin-right: 10px;
}

.sectionh2 {
    background-color: #D175B6;
    color: black;
    padding-right: 4rem;
}

.section3 {
    width: 90%;
    display: flex;
    margin-bottom: 20px;
    border: 2px solid #D175B6;
    margin-left: 3rem;
    border-radius: 8px;
    padding: 10px;
    margin-right: 10px;
}

.coordinators {
    width: 45%;
    border: 1px solid #D175B6;
    padding: 6px;
    border-radius: 7px;
}

.coordinators h4 {
    margin-bottom: 10px;
}

.coordinators input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.EventName {
    width: 55%;
    border: 1px solid #D175B6;
    padding: 6px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.EventName .name {
    margin-bottom: 10px;
    width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EventName .eventInfor {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #D175B6;
    border-radius: 6px;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 10px;
}

.EventName .venue {
    margin-bottom: 10px;
    border: 1px solid #D175B6;
    border-radius: 6px;
    padding-top: 20px;
    padding-left: 10px;
}

.section4 {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #D175B6;
    margin-left: 3rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    padding-top: 5px;
    margin-right: 10px;
}

.section4a {
    width: 30%;
    margin-left: 20px;
}

.section4b {
    width: 70%;
    margin-right: 10px;
    padding: 10px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.section4b h5 {
    margin-bottom: 10px;
}

.section4bBtn {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.meetingRooms {
    border: 2px solid #D175B6;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 11px;
}

.meetingroomDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
}

.meetingroomDetails h6 {
    padding-top: 4px;
}

.meetingroomDetails p {
    padding-top: 8px;
}

.dates p {
    font-size: 10px;
}

.positionTable {
    border: 2px solid #D175B6;
    border-radius: 6px;
    font-size: 13px;
}

.positionTable table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #D175B6;
    border-radius: 6px;
}

.positionTable th,
.positionTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.positionTable th {
    background-color: #f2f2f2;
}
