* {

margin: 0; 
box-sizing: border-box;
}

.App{

    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    height: 1000vh;
}


/* Media Query for Tablet Screens (601px to 1024px) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .App {
        height: 2000vh; 
        background-color: black;
    }
}

/* Media Query for Mobile Screens (max-width: 600px) */
@media only screen and (max-width: 600px) {
    .App {
        height: 500vh; 
        background-color: black;
    }
}





